/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2017, 9:53:30 AM
    Author     : root
*/


body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1150px;
    text-align: center;
    margin: 20px auto;
}

hr {
    border: 0;
    background-color: #333;
    height: 1px;
    margin: 0 25px;
    width: 300px;
}


table {
    margin: 0 20px;
    border-spacing: 0;
    text-align: center;
    border: solid 1px #f5eabe;
}


/* general styles */
#main { background: #eee;
}

#singleColumn {
    margin: 20px 30px;
    text-align: left;
}

.lightBlue { background-color: #ccc }

.white { background-color: #fff }

.bubble {
    font-weight: bold;
    /*background-color: #D3D3D3;*/
    padding: 5px;
    color: inherit;
}

.hMargin { margin: 0 30px }

.smallText { font-size: small }

.header {
    background-color: #ffff;
    height: 30px;
}


/* styles for elements contained in the header, i.e.,
   shopping cart widget, language toggle, and logo */
#header {
    height: 250px;
    background: #1a2e46;
}

#logo {
    height: 250px;
    width: 250px;
    float: left;
    margin-left: 30px;
    margin-top: 0px;
}

#logoText {
    float: left;
    margin: 20px 0 0 70px;

    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #ffffff;
}

#widgetBar {
    height: 50px;
    width: 850px;
    float: right;
    background: #1a2e46;
}

.headerWidget {
    width: 194px;
    margin: 20px 2px;
    font-size: small;
    float: right;
    line-height: 25px;
    background: #aaa;
}


/* footer styles */
#footer {
    height: 60px;
    clear: left;
    background: #1a2e46;
}

#footerText {
    color: #ffffff
}


/* index page styles */
#indexLeftColumn {
    height: 500px;
    width: 300px;
    float: left;
    background: #ccc;
}

#indexRightColumn {
    height: 500px;
    width: 720px;
    float: left;
    background: #eee;
}

.categoryBox {
    height: 176px;
    width: 212px;
    margin: 30px 14px 5px;
    float: inherit;
    background: #ccc;
}

.categoryLabelText {
    line-height: 150%;
    font-size: x-large;
}


/* category page styles */
#categoryLeftColumn {
    width: 185px;
    float: left;
    /*margin-top: 25px;*/
    margin:25px 0px 0px 30px;
    padding-left: 15px;
}

#categoryRightColumn {
    /*margin-top: 10px;*/
    margin:20px 0px 0px 150px;
    width: 650px;
    float: left;
}

.categoryButton {
    margin: 15px 22px;
    padding: 13px;
    display: block;
    background-color: #ccc;
}

#selectedCategory {
    background-color: #fff;
    margin-left: 10px;
    width: 139px;
}

#categoryTitle {
    margin: -34px 180px 0 0;
    font-size: x-large;
    float: right;
    background-color: #fff;
    padding: 7px;
}

#Categorias {
    margin: -35px 255px 0 0;
    font-size: x-large;
    float: right;
    background-color: #fff;
    padding: 7px;
    border: 2px solid #1a2e46;
    border-radius: 8px;
    font-family: 'American Typewriter', Courier, monospace;
}

.categoryText {
    line-height: 23px;
    font-size: larger;

}

#productTable { width: 600px }

#productTable tr { height: 90px }

#productTable td { width: 145px }


/* cart page styles */
#actionBar {
    margin: 30px;
    width: 750px;
    text-align: center;
}

#subtotal { margin: 40px 0 20px 430px }

#cartTable { width: 750px }

#cartTable td {
    width: 145px;
    height: 90px;
}


/* checkout page styles */
#checkoutTable {
    width: 400px;
    background-color: #ffff;
    float: left;
    height: 350px;
}

#infoBox {
    width: 300px;
    padding-left: 30px;
    float: left;
}

#priceBox {
    padding: 10px;
    margin: 10px 0;
    height: 128px;
    background-color: #ffff;
}


/* confirmation page styles */
#confirmationText {
    margin: 0 20px 20px;
    padding: 10px;
    background-color: #f5eabe;
    float: left;
    width:540px;
}

.summaryColumn {
    margin-top: 15px;
    width: 50%;
    float: left;
}

#orderSummaryTable {
    width: 100%;
    text-align: left;
    height: 200px;
}

#deliveryAddressTable {
    width: 70%;
    margin-left: 15%;
    text-align: left;
    height: 200px;
}

/* Testando */

.H-preco {
    width: 143px;
    font-family: 'Swis721_B';
    font-size: 20px;
    color: #2c6eb4;
    margin: 0;
    text-align: center;
}

.prodImg {
    max-height: 180px;
}